<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #DCDCDC">

    
    <div class="container-fluid">
        
        <ul class="navbar-nav">
          <%=image_tag("planet-earth.png",size: "45x45")%>&nbsp;
          <%= link_to 'GreenNetwork', posts_path, class: "navbar-brand mb-0 h1",style:"font-size:150%" %>

          <li class="nav-item">
            <%= link_to 'Home', posts_path, class: "nav-link", style:"font-size:110%" %>
          </li>

          <li class="nav-item">
            <%= link_to 'Contacts', static_pages_path, class: "nav-link", style:"font-size:110%" %>
          </li>
        </ul>
        

        <ul class="navbar-nav" >
          
          <% if ( (user_signed_in?) && (can? :create, Post) ) %>
            <li class="nav-item ">
              <%= link_to '', new_post_path, class:" nav-link bi bi-plus-lg ",style: "font-size: 25px; margin-top:5px; margin-right: 7px"%>
            </li>
          <% end %>

          <li class="nav-item dropdown" style="margin-right: 30px">
            <% if user_signed_in? %>
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              
              <% if current_user.propic.attached? %> 
                <%= image_tag current_user.propic, size: "42x42", class: "rounded-circle border "%>
              <% end %>  
              <%= current_user.username%>: 
                <% if current_user.is_admin? %> Admin 
                <% elsif current_user.is_reguser? %> User <% end %>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            
                <li><%= link_to " Profile", profile_path, class:"bi bi-person-fill dropdown-item"%></li>
                <% if current_user.is_admin? %>
                  <li><%= link_to " Administration", admin_view_path, class:"dropdown-item bi bi-key"%></li> 
                <% end %>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to " Logout", destroy_user_session_path, method: :delete, class:"bi bi-door-closed-fill dropdown-item "%></li>
              </ul>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Login', new_user_session_path, class:"btn btn-outline-success"%>
              </li>
                &nbsp; &nbsp;
                
              <li class = "nav-item">
                <%= link_to 'Sign-up', new_user_registration_path,class:"btn btn-outline-success"%>
              </li>
            <%end%>

          </li>
        </ul>
  
        
    </div>
</nav>